.alert {

    .close {
        @include opacity(.5);
        color: $text-color;
        text-shadow: none;

        &:hover {
            @include opacity(1);
        }
    }
}

.alert-link {
    color: inherit !important;
    text-decoration: underline;

    &:hover {
        color: $text-color !important;
    }
}
