@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


/* ==========================================================================
     Open Sans
     -
     https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
     ========================================================================== */

@mixin open-s($font-weight:false, $font-style:false) {
    font-family: $font-family-sans-serif;

    @if($font-weight) {
        font-weight: $font-weight;
    }
    @else {
        font-weight: 400;
    }
    @if($font-style) {
        font-style: $font-style;
    }
}

.open-s-l { // light
    @include open-s(300);
}
.open-s-li { // light + italic
    @include open-s(300,italic);
}
.open-s { // regular
    @include open-s();
}
.open-s-i { // regular + italic
    @include open-s(400,italic);
}
.open-s-sb { // semibold
    @include open-s(600);
}
.open-s-sbi { // semibold + italic
    @include open-s(600,italic);
}
.open-b { // bold
    @include open-s(700);
}
.open-bi { // bold + italic
    @include open-s(700,italic);
}
