/* ==========================================================================
   @/1 - Form general
   @/2 - Radio, Checkbox input
   @/3 - Select 2
   @/4 - Bootstrap datepicker
   @/5 - Bootstrap switch
   ========================================================================== */

/* ==========================================================================
   @/1 - Form general
   ========================================================================== */

@each $state, $form-border-color, $addon-color in
    (success, $state-success-border, $state-success-addon),
    (warning, $state-warning-border, $state-warning-addon),
    (error, $state-danger-border, $state-danger-addon) {

    .has-#{$state} {

        .form-control {
            border-color: $form-border-color;

            &:focus {
                border-color: $form-border-color;
                @include box-shadow(0 0 4px $form-border-color);
            }
        }
        .input-group-addon {
            color: $addon-color;
        }
    }
}



/* ==========================================================================
   @/2 - Radio, Checkbox input
   ========================================================================== */

.ckbox,
.rdiobox {

    input[type='checkbox'],
    input[type='radio'] {

        &:focus + span:before {
            @include box-shadow(0 0 3px $ckbox-rdio-focus-color);
        }
    }
}

/* Checkbox */
.ckbox {
    font-weight: normal;
    position: relative;
    display: block;
    line-height: 18px;

    span {

        &:before,
        &:after {
            line-height: 18px;
            position: absolute;
        }

        &:before {
            content: '';
            width: $ckbox-size;
            height: $ckbox-size;
            background-color: #fff;
            border: 1px solid $ckbox-border-color;
            border-radius: 1px;
            top: 2px;
            left: 0;
        }

        &:after {
            left: 2.5px;
            top: 0;
            content: '\f00c';
            font-family: 'FontAwesome';
            font-size: 9px;
            color: $text-color;
            display: none;
        }
    }

    input[type='checkbox'] {
        opacity: 0;
        margin: 0 5px 0 0;

        &:checked {

            + span:before {
                border-color: darken($ckbox-border-color, 5%);
            }
            + span:after { display: block; }
        }

        &[disabled] {

            + span,
            + span:before,
            + span:after {
                opacity: .75;
            }
        }
    }
}

.ckbox-inline { display: inline-block; }


/* Checkbox color variant */
.ckbox-primary {
    @include ckbox-variant($ckbox-border-color, $ckbox-primary, $ckbox-color);
}
.ckbox-success {
    @include ckbox-variant($ckbox-border-color, $ckbox-success, $ckbox-color);
}
.ckbox-warning {
    @include ckbox-variant($ckbox-border-color, $ckbox-warning, $ckbox-color);
}
.ckbox-danger {
    @include ckbox-variant($ckbox-border-color, $ckbox-danger, $ckbox-color);
}
.ckbox-info {
    @include ckbox-variant($ckbox-border-color, $ckbox-info, $ckbox-color);
}


/* Radio Box */
.rdiobox {
    @extend .ckbox;

    span {

        &:before,
        &:after {
            line-height: 18px;
            position: absolute;
        }

        &:before {
            content: '';
            width: $rdiobox-size;
            height: $rdiobox-size;
            background-color: #fff;
            border: 1px solid $rdio-border-color;
            border-radius: 50px;
            top: 2px;
            left: 0;
        }

        &:after {
            content: '';
            width: $rdiobox-size - 6px;
            height: $rdiobox-size - 6px;
            background-color: $text-color;
            border-radius: 50px;
            top: 5px;
            left: 3px;
            display: none;
        }
    }

    input[type='radio'] {
        opacity: 0;
        margin: 0 5px 0 0;

        &:checked {

            + span:before {
                border-color: #666;
            }
            + span:after { display: block; }
        }

        &[disabled] {

            + span,
            + span:before,
            + span:after {
                opacity: .75;
            }
        }
    }
}

.rdiobox-inline {
    @extend .ckbox-inline;
}

/* Radio box color variant */
.rdiobox-primary {
    @include rdiobox-variant($rdio-primary, $rdio-primary);
}
.rdiobox-success {
    @include rdiobox-variant($rdio-success, $rdio-success);
}
.rdiobox-warning {
    @include rdiobox-variant($rdio-warning, $rdio-warning);
}
.rdiobox-danger {
    @include rdiobox-variant($rdio-danger, $rdio-danger);
}
.rdiobox-info {
    @include rdiobox-variant($rdio-info, $rdio-info);
}


/* ==========================================================================
   @/3 - Select 2
   ========================================================================== */

.form-inline {

    @media (min-width: $screen-tablet) {

        .select2-container {
            display: inline-block;
        }
        .select2 {
            width: auto !important;
        }
        .select2-xs-inline .select2 {
            min-width: 80px;
        }
    }
}
.select2 {
    width: 100% !important;

    .text-right &,
    .text-right-lg &,
    .text-right-md &,
    .text-right-sm &,
    .text-right-xs & {
        text-align: left;
    }
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.select2-container--default {

    .select2-search--inline .select2-search__field {
        //line-height: 28px;
    }
    .select2-selection--single {
        background-color: $input-bg;
        border-radius: $border-radius-base;

        .select2-selection__rendered {
            line-height: 34px;
            padding-right: 30px;
        }
        .select2-selection__arrow b {
            border: 0;
            @include size(14px, 20px);
            top: 50%;
            left: 3px;
            margin-top: -10px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 20px;
            line-height: 1;
            vertical-align: middle;

            &:before {
                content: "\f107";
            }
        }
    }
    &.select2-container--open .select2-selection--single .select2-selection__arrow b {

        &:before {
            content: "\f106";
        }
    }

    .select2-selection--multiple {
        min-height: $input-height-base;
        border-radius: $border-radius-base;
        border-color: $input-border;

        .select2-selection__choice {
            background-color: $input-bg;
            border-color: $select2-tag-bg;
            border-radius: $border-radius-base;
            margin-top: 5px;
            margin-right: 2px;
            padding: 4px 10px 3px 5px;
            background-color: $select2-tag-bg;
            font-size: 12px;
            line-height: 1em;
            color: #fff;
        }
        .select2-selection__choice__remove {
            vertical-align: middle;
            color: #fff;
            font-size: 16px;
            @include opacity(.75);

            &:hover {
                color: darken($select2-tag-bg, 20%);
            }
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $select2-highlighted-bg !important;
        color: $select2-highlighted-text !important;
    }
    .select2-results__option[aria-selected=true],
    .select2-results__option--highlighted[aria-selected=true] {
        background-color: $select2-selected-bg !important;
        color: $select2-selected-text !important;
    }
    &.select2-container--focus .select2-selection--multiple {
        border-color: $input-border;
    }
}


.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $input-border;
    color: $input-color-placeholder;
}
.select2-results,
.select2-results__option,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $input-color;
    font-size: $font-size-base;
}


/*
   @/4 - Bootstrap datepicker
   ========================================================================== */

.datepicker {

    &.datepicker-dropdown {
        padding: 10px;
    }
    &.dropdown-menu {
        border-color: $b-datepicker-border-color;
    }
    &.datepicker-inline {
        border: 1px solid $b-datepicker-inline-border-color;
        border-radius: 0;
    }

    .datepicker-switch {
        background-color: $b-datepicker-switch-bg;
        color: $b-datepicker-switch-color;
        text-transform: uppercase;
    }
    td,
    th {
        border-radius: 0;
    }
    table {
        background-color: $b-datepicker-table-bg;

        tr td {

            &.today,
            &.today.disabled,
            &.today.disabled:hover,
            &.today:hover {
                background: $b-datepicker-today-bg !important;
                color: $b-datepicker-today-color !important;
            }
            &.active,
            &.active.disabled,
            &.active.disabled:hover,
            &.active:hover {
                background: $b-datepicker-day-active-bg !important;
                color: $b-datepicker-day-active-color !important;
                text-shadow: none !important;
            }
        }
}
}



/*
   @/5 Bootstrap switch :: http://www.bootstrap-switch.org/options.html
   ========================================================================== */

.bootstrap-switch {
    border-radius: 0;

    &.bootstrap-switch-on {
        border-color: $bootstrap-switch-primary;
    }
    &.bootstrap-switch-off {
        border-color: $bootstrap-switch-secondary;
    }
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: $bootstrap-switch-primary;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: $bootstrap-switch-secondary;
    color: #fff;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    font-size: 10px;
    line-height: 1em;
    vertical-align: middle;
    padding: 4px 3px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
    border-radius: 0;
}

.switch-radio {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;

    > span {
        margin-right: 5px;
        vertical-align: middle;
    }
}
