.modal-header {
    background-color: darken($modal-content-bg, 3%);


    @each $modal, $modal-bg, $modal-text in

        (primary,$modal-primary-bg, $modal-primary-text),
        (success,$modal-success-bg, $modal-success-text),
        (warning,$modal-warning-bg, $modal-warning-text),
        (danger,$modal-danger-bg, $modal-danger-text),
        (info,$modal-info-bg, $modal-info-text),
        (secondary,$modal-secondary-bg, $modal-secondary-text) {

            .modal-#{$modal} & {
                background-color: $modal-bg;
                color: $modal-text;
            }
    }

    .close {
        text-shadow: none;
        font-size: 25px;

        .modal-secondary & {
            color: $modal-secondary-close;
        }
    }

}
.modal-footer {
    border-top-color: $modal-footer-border-color;
}
