/*
   Aside menu container
   ========================================================================== */

#aside-menu {
    position: fixed;
    display: block;
    top: $aside-menu-height;
    left: 0;
    z-index: 904;
    @include size($aside-menu-width, 100%);
    min-height: 100%;
    padding: 0;
    background-color: $aside-menu-bg;
    overflow-y: auto;
    overflow-x: hidden;
    @include transition(all .5s ease);

    .menu-expanded & {
        width: $aside-menu-expanded-width;
        padding: 18px 0;
        @include box-shadow(none);

        .aside-menu-list-item {

            .media-body {
                white-space: inherit;
            }
        }
    }
}

/*
   Aside menu title
   ========================================================================== */

.aside-menu-title {
    display: none;
    padding: 0 10px 5px 10px;
    color: $aside-menu-title-color;
    text-transform: uppercase;
    font-size: 12px;

    .menu-expanded & {
        display: block;
    }
}


/*
   Aside menu nav items
   ========================================================================== */

.aside-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    @include transition(all .6s ease);

    &:last-child {

        .aside-menu-list-item:last-child {
            border-bottom: $aside-menu-list-item-border-size solid $aside-menu-list-item-border-color;
        }
    }
    a {
        display: block;
    }

    .menu-expanded & {
        margin-bottom: 20px;
        @include transition(all .2s ease);
    }
}

.aside-menu-list-item {
    position: relative;
    display: block;
    border-top: $aside-menu-list-item-border-size solid $aside-menu-list-item-border-color;

    &.active {

        .aside-menu-list-sub-menu {
            display: block;
        }

        > a {

        }
    }
    &.current {

        > a {
            background-color: $aside-menu-list-item-current-bg;

            &, i {
                color: #fff !important;
            }
        }
    }
    > a {
        padding: 10px;
        font-weight: bold;
    }
    .media-left {
        min-width: 30px;
        padding-right: 0;
        text-align: center;
    }
    .media-body {
        padding-left: 13px;
        white-space: nowrap;
        text-transform: uppercase;
    }
    i {
        color: $aside-menu-list-item-icon-color;
    }
    a {
        color: $aside-menu-list-item-link-color;
        text-decoration: none;

        &:hover {
            color: $aside-menu-list-item-link-hover-color;

            i {
                color: $aside-menu-list-item-icon-hover-color;
            }
        }
    }

    .menu-expanded & {

        &:last-child {
            border-bottom: $aside-menu-list-item-border-size solid $aside-menu-list-item-border-color;
        }

        > a {
            padding-left: 5px;
        }
        .media-left {
            min-width: 20px;
        }
    }
}

.aside-menu-list-sub-menu {
    position: relative;
    display: none;
    padding: 0;
    background-color: $aside-menu-list-sub-menu-bg;
    list-style: none;

    .aside-menu-list-item.current & {

        &:after {
            content: '';
            position: absolute;
            left: 7px;
            top: 0;
            @include square(0);
            border-style: solid;
            border-width: 7px 7px 0 7px;
            border-color: $aside-menu-list-item-current-bg transparent transparent transparent;
        }
    }
}

.aside-menu-list-sub-item {
    margin-left: 14px;
    border-left: 1px solid $aside-menu-list-sub-menu-border-color;

    &:first-child {
        padding-top: 7px;
    }

    &.current {

        a {
            color: $aside-menu-list-sub-menu-item-current-color;

            &:before {
                background-color: $aside-menu-list-sub-menu-item-current-color;
            }
            &:after {
                border-color: $aside-menu-list-sub-menu-item-current-color;
            }
        }
    }

    .active & a:hover:after,
    &.current a:after {
        @include square(11px);
        left: -6px;
        top: 24px;
        @include opacity(1);
    }

    a {
        position: relative;
        min-height: 28px;
        padding: 5px 10px 5px 18px;
        @include transition(all .2s ease-out);

        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: 50px;
        }
        &:before {
            left: -3px;
            top: 12px;
            @include square(5px);
            background-color: $aside-menu-list-sub-menu-bullet-color;
            @include transition(all .2s ease-out);
        }
        &:after {
            left: -15px;
            top: 14px;
            @include square(30px);
            margin-top: -15px;
            border: 1px solid $aside-menu-list-sub-menu-bullet-hover-color;
            @include opacity(0);
            @include transition(all .2s ease-out);
        }
    }
}




/*
   FIXS
   ========================================================================== */

//== no border-radius, css transitions, IE8 :before/:after opacity fix
.no-borderradius,
.no-csstransitions {

    .aside-menu-list-sub-item a {

        &:after {
            content: none;
        }
    }
}



/*
   Responsive
   ========================================================================== */


@media (max-width: $screen-tablet - 1) {

    #aside-menu {
        width: 0;

        .menu-expanded & {
            @include box-shadow($aside-menu-expanded-tablet-box-shadow);
        }
    }
    #container {
        margin-left: 0;
    }
    #footer {
        padding-left: 0;
    }
}

@media (min-width: $screen-tablet) {

    .menu-expanded {

        #container {
            margin-left: $aside-menu-expanded-width;
        }
    }
}
