/* 
   General
   ========================================================================== */


#container {
    margin-left: $aside-menu-width;
    padding: 66px 0 34px;
    min-height: 500px;
    @include transition(all .5s ease);

    .content, #footer {
        padding: 20px;
    }
}
